[common]
spacers: _
extensions: mkv, mp4, avi
max_sense_episode_number: 5000
default_pattern: %(rename)s %(number)s

[paths]
mplayer:	C:\Path\To\Your\MediaPlayer.exe
sources:	anime.ini
log:		log_file.txt
shortcuts:	shortcuts-log

[source-folders]
1: C:\Path\To\Downloads1
2: C:\Path\To\Downloads2
3: C:\Path\To\Downloads3